@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Nunito:wght@800;900&family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
    .image{
      background-image:url(./assets/ban2.png);
      background-repeat:no-repeat;
      background-size:400px;
      height:400px;
      margin-left:60%;
      margin-top:-350px;
    }
    header{
      background-color:white;
      height:50px;
    }
    .header-text{
      color:black;
      text-decoration:none;
      font-size:30px;
      float:left;
    }
    .nav{
      float:right;
      margin-top:10px;
    }
    .nav > a{
      text-decoration:none;
      padding:10px 16px;
      color:black;
      font-family: 'Titillium Web', sans-serif;
    }
    /* .nav a:hover{
     color:#04afb5;
      text-shadow:0px 0px 10px blue;
    } */

.bold-text{
      font-size:50px;
      font-family: 'Titillium Web', sans-serif;
      padding-left: 10%;
    }
    p{
      max-width:400px;
      font-family: 'Inconsolata', monospace;
    }

span{
  display: flex;
  align-items: center;
  justify-content: center;
  background:#fff;
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "BUTTON";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: rgb(255, 102, 0);
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: rgb(0, 0, 0);
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}