body{
  background-image:url(./assets/Untitled.png);
  background-repeat:no-repeat;
  background-size:100%;
  padding: 0;
  margin: 0;
}
    .vert-move{
      /* background-image:url(https://img.freepik.com/free-vector/designer-girl-concept-illustration_114360460398.1631836800); */
      background-image:url(./assets/banner-modified\ 1.png);
      background-repeat:no-repeat;
      background-size:350px;
      height:350px;
      margin-left:850px;
      margin-top:-340px;
      -webkit-animation: mover 1s infinite  alternate;
      animation: mover 1s infinite  alternate;
      -webkit-animation: mover 1s infinite  alternate;
      animation: mover 1s infinite  alternate;
    }

  @-webkit-keyframes mover {
      0% { transform: translateY(0); }
      100% { transform: translateY(-10px); }
  }
  @keyframes mover {
      0% { transform: translateY(0); }
      100% { transform: translateY(-10px); }
  }
  



    header{
      background-color:white;
      height:50px;
    }
    .header-text{
      color:black;
      text-decoration:none;
      font-size:30px;
      float:left;
    }
    .nav{
      float:right;
      margin-top:10px;
    }
    .nav > a{
      text-decoration:none;
      padding:10px 16px;
      color:black;
      font-family: 'Titillium Web', sans-serif;
    }
    /* .nav a:hover{
     color:#04afb5;
      text-shadow:0px 0px 10px blue;
    } */
    .log-sign-in{
      background-color:#236ee8;
      color:white !important;
      border-radius:9px;
      padding:10px 15px;
      border-radius:10px;
      font-family: 'Prata', serif;
    }
    h2{
      font-size:50px;
      font-family: 'Abril Fatface', cursive;
    }
    p{
      max-width:400px;
      font-family: 'Inconsolata', monospace;
    }
    .log-sign-in:hover{
      background-color:#07e39a;
    }
